<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <!-- ====== Segments ======= -->
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button  value="scan">
      <ion-label>Scan QR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="generate">
      <ion-label>Generate QR</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- ====== Scan QR ======= -->
  <div class="segment" *ngIf="segment === 'scan'">
    <div class="segment-content">
      <img src="assets/images/scan-qr.webp"/>
      <h6 class="scan-label">Scan or select an image of a QR code to get its value</h6>

      <ion-row>
        <ion-col size="6">
          <ion-button (click)="startScan()" class="submit" expand="block">
            Scan<ion-icon slot="end" name="scan-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="submit" expand="block">
            Select<ion-icon slot="end" name="image-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- ====== Scan result ======= -->
       <ion-item class="result" *ngIf="scanResult" lines="none">
        <ion-label>
          <p>Scan Result</p>
          <div>{{scanResult}}</div>
        </ion-label>
        </ion-item>







    </div>

  </div>

  <!-- ====== Segments Generate ======= -->
  <div class="segment" *ngIf="segment === 'generate'">
    <div class="segment-content">

      <div id="qrImage">
        <div class="d-flex-center">
          <div class="d-flex-center qr-wrapper">
            <qr-code *ngIf="qrText" [value]="qrText" size="190" errorCorrectionLevel="M" />
            <img *ngIf="!qrText" class="qr-placeholder"  src="assets/images/qr.webp" alt="QR Code" />

          </div>
        </div>
        <div class="ion-padding-top">
          {{qrText}}
        </div>
      </div>
      <ion-textarea
        label="Write something to convert to QR Code"
        labelPlacement="stacked"
        fill="outline"
        [(ngModel)]="qrText"
        rows="4"
        [autoGrow]="true">
      </ion-textarea>

      <!-- ====== Share QR ======= -->
       <ion-button (click)="captureScreen()" *ngIf="qrText" class="submit ion-margin-top" expand="block">
        Share<ion-icon slot="end" name="share-social-outline"></ion-icon>
       </ion-button>
    </div>

  </div>

</ion-content>
